@import "../variables";
@import "../fonts";

.connect {
  width: 100vw;
  max-width: 1250px;
  margin: 3rem 0;

  @media only screen and (min-width: 728px) {
    margin: 15rem 0 0 0;
  }

  h2 {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: left;
  }
}

.connectors {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}