@import "../variables";
@import "../fonts";

.connect {
  width: 100vw;
  max-width: 1250px;
  margin: 15rem 0 0 0;

  h2 {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: left;
  }
}

.connectors {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  a {
    transition: 0.4s cubic-bezier(0, 0.57, 0.49, 1.51);

    &:hover {
      transform: scale(0.95);
    }
  }
}