@import "../variables";
@import "../fonts";

.projects {
  width: 100vw;
  max-width: 1250px;
  margin: 15rem 0 0 0;

  h2 {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: left;
  }
}

.feed {
  display: flex;
  padding: 5rem 0;
  gap: 5rem;

  h3 {
    font-family: 'Baloo Thambi 2', cursive;

    margin-top: 2rem;
    font-size: 2rem;
  }

  p {
    margin-bottom: 2rem;
    line-height: 1.2;
    font-size: 1rem;
    color: rgba(0,0,0, 0.6);
  }

  div {
    flex-basis: 100%;

    div {
      font-size: 0.8rem;
      flex-basis: unset;
      color: $purple;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.links {
  display: flex;
  gap: 2rem;
  padding: 1rem 0 4rem 0;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: black;
  }
}