@import "../variables";

.projects {
  width: 100vw;
  max-width: 1250px;
  margin: 15rem 0 0 0;

  h2 {
    text-align: left;
  }
}

.feed {
  display: flex;
  padding: 5rem 0;
  gap: 5rem;
  justify-content: space-around;

  h3 {
    margin-top: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }

  div {
    div {
      color: $purple;
    }
  }
}